body {
    margin: 60px auto;
    width: 70%;
    background-color: #C3B1E1;
    #my-element {
  padding-top: 20px;
    }
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 40px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Garamond', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.border-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #77DD77;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  list-style: none;
  display: none;
}

body:hover .border-menu {
  display: block;
}
.sliding-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: purple;
  padding: 10px;
  list-style: none;
  height: 0;
  overflow: hidden;
  transition: height 1s ease-out;
}

body:hover .sliding-menu {
  height: 200px;
}
.slider {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.active {
  opacity: 1;
}
